<md-dialog>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Nouveau billet</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <p ng-if="firstList">Vous n'avez pas encore de billets. Veuillez entrer un nom pour votre nouveau billet ! </p>
        <md-input-container>
          <form autocomplete="off" autocorrect="on" autocapitalize="on">
            <label>Nom</label>
            <input ng-model="listName">
          </form>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="confirmDialog()" ng-disabled="listName === ''" class="md-primary md-raised">Ok</md-button>
      <md-button ng-click="closeDialog()" ng-if="!firstList" class="md-primary">Annuler</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
