<div ng-hide="loading">
  <h1 class="md-display-1"><span class="blt-current-list">{{listName}}</span></h1>
  <md-divider></md-divider>

  <div ng-hide="items.length == 0">
    <h2>Articles</h2>
    <div ng-repeat="item in items">
      <md-checkbox ng-model="item.checked" ng-change="itemStatusChanged()">{{item.description}}</md-checkbox>
    </div>

    <div>
      <md-button class="md-accent md-raised" ng-click="checkingDone()" ng-disabled="noCheckedItem"><md-icon>done</md-icon> J'ai fini mes courses</md-button>
    </div>
  </div>

  <h2>Ajouter un article</h2>

  <div layout="row">
    <md-input-container>
      <form autocomplete="off" autocorrect="on" autocapitalize="on">
        <label>Description</label>
        <input ng-model="description">
      </form>
    </md-input-container>
    <md-button ng-click="addItem()" ng-disabled="description == ''" class="md-fab md-accent md-mini" aria-label="add-item"><md-icon>add</md-icon></md-button>
  </div>

</div>

<div ng-show="loading" layout="row" layout-sm="column" layout-align="space-around">
  <md-progress-circular md-mode="indeterminate" md-diameter="100"></md-progress-circular>
</div>
